@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  font-size: 18px;
  --color-header: #da4b3e;
  --color-white: #fff;
  --color-grey: #fafafa;
  --color-footer-grey: #f3f3f3;
  --color-modal-bg: #1c1c1c9e;
  --color-hover-white: #ebebeb29;
  --color-hover-grey: #eeeeee;
  --high-priority-border: #d1453b;
  --high-priority-bg: #d145391a;
  --mid-priority-border: #eb8909;
  --mid-priority-bg: #eb89091a;
  --low-priority-border: #246fe0;
  --low-priority-bg: #246fe01a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-y: scroll;
}

button {
  font-size: 0.8rem;
}

button,
.edit-svg-container,
.delete-svg-container {
  cursor: pointer;
}

.todoApp {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*** header styles ***/
.header {
  height: 2.5rem;
  background-color: var(--color-header);
  color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
}

.header button {
  color: var(--color-white);
  background: none;
  border: 1px solid var(--color-footer-grey);
  padding: 5px 10px;
  border-radius: 5px;
}

.header button:hover {
  background: var(--color-hover-white);
}

/*** main styles***/
.main {
  flex: 1;
  display: grid;
  grid-template-columns: 300px 1fr;
}

/** left menu styles**/
.left-menu {
  background: var(--color-grey);
  padding: 30px 18px 30px 18px;
}

.left-menu ul {
  list-style: none;
}

.active-project-li {
  background: var(--color-hover-grey);
}

.left-menu li {
  border-radius: 5px;
}

.left-menu li:hover {
  background: var(--color-hover-grey);
}

.left-menu li button {
  padding: 8px;
  border: none;
  background: none;
  display: flex;
}

.left-menu-inbox-menu li {
  display: grid;
  align-items: center;
}

.left-menu-inbox-menu li button {
  display: flex;
  align-items: center;
}

.left-menu-inbox-menu li svg {
  font-size: 1rem;
  margin-right: 10px;
}

.left-menu-inbox-menu li[data-date-filter="0"] svg {
  fill: #246fe0;
}

.left-menu-inbox-menu li[data-date-filter="1"] svg {
  fill: #058527;
}

.left-menu-inbox-menu li[data-date-filter="2"] svg {
  fill: #692fc2;
}

.projects-title-container {
  padding-top: 24px;
  padding-bottom: 8px;
}

.projects-title-container h3 {
  font-size: 1rem;
  color: #787777;
}

.left-menu-projects-menu li {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  column-gap: 3px;
}

.left-menu-projects-menu li button::before {
  text-align: center;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px 14px 0 4px;
  background: #b8b8b8;
}

.left-menu-projects-menu li svg:hover {
  fill: var(--high-priority-border);
}

.empty-project-menu {
  font-size: 0.8rem;
  margin-top: 8px;
  margin-left: 36px;
}

.add-project-container {
  margin-top: 18px;
  margin-left: 36px;
}

.add-project-btn {
  background: none;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
}

.add-project-btn:hover {
  background: #eeeeee;
}

/** project container styles **/
.project-container {
  padding: 30px 55px 30px 55px;
  width: 1000px;
  margin: 0 auto;
}

.todos-list {
  list-style: none;
}

.todo-container {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  column-gap: 0.6rem;
  grid-template-columns: auto 1fr auto;
}

.todo-li[data-completed="true"] .todo-container {
  color: #8f8f8f;
  fill: #8f8f8f;
}

.todo-li[data-completed="true"] .todo-title {
  text-decoration: line-through;
}

.todo-date {
  justify-self: end;
}

.todo-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
}

.todo-circle[data-priority="1"] {
  color: var(--high-priority-border);
  border-color: var(--high-priority-border);
  background: var(--high-priority-bg);
}

.todo-circle[data-priority="2"] {
  color: var(--mid-priority-border);
  border-color: var(--mid-priority-border);
  background: var(--mid-priority-bg);
}

.todo-circle[data-priority="3"] {
  color: var(--low-priority-border);
  border-color: var(--low-priority-border);
  background: var(--low-priority-bg);
}

.todo-li[data-completed="false"] .todo-circle:hover::before {
  content: "✓";
  font-size: 0.7rem;
}

.todo-li[data-completed="true"] .todo-circle:hover::before {
  content: "×";
  font-size: 0.8rem;
  margin-top: 1px;
  margin-left: 1px;
}

.todo-li svg {
  cursor: pointer;
}

.todo-li svg:hover {
  fill: var(--high-priority-border);
}

.todo-li .todo-container {
  user-select: none;
}

.todo-li .expanded-info {
  display: grid;
  grid-auto-flow: column;
}

/*** footer styles ***/
.footer {
  height: 2.5rem;
  background-color: var(--color-footer-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** modal styles ***/
.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-modal-bg);
  z-index: 10;
}

.inner-modal {
  position: relative;
  width: 700px;
  height: 600px;
  background: var(--color-white);
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  font-size: 1.2rem;
  top: 1rem;
  right: 1rem;
  line-height: 1rem;
  cursor: pointer;
}

form {
  padding: 40px;
}

.inputs > div {
  display: grid;
}
